@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --system-color-darkBlue-primary: #0d1b2a;
  --system-color-darkBlue-secondary: #1b263b;
  --system-color-blue-primary: #415a77;
  --system-color-blue-secondary: #778da9;
  --system-color-gray: #e0e1dd;

  /*border*/
  --system-radius-sm: 5px;
  --system-radius-lg: 9px;
  --system-radius-xl: 15px;

  /*transition*/
  --trans-all-5: all 0.5s ease;
  --trans-all-3: all 0.3s ease;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  color: #fff;
  background-color: rgb(25, 11, 46);
}

.app {
  display: flex;
  height: 100vh;;
}